page-derechos {
  table{
    padding: 10px !important;
  }
  tr{
    font-size: 11px;
    text-align: center !important;
    margin-bottom: 10px;
  }
  th{
    background-color: #FAC800;
    padding-bottom: 1em;
    text-align: center !important;
    font-size: 11px;
  }
  td{
    background-color: #f9fff9;
    padding-bottom: 1em;
    border: 1px solid #FAC800;
  }
}

