page-show {
  .banner-chat{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: #FAC800 !important;
  }

  .center-font{
    margin-left: 9px;
    margin-right: 9px;
  }

  .banner-chat-black{
    padding: 10px;
    color: #FAC800;
    width: 100%;
    border-radius: 20px;
    background-color: black !important;
  }
}

