page-index {
  @import url('https://fonts.googleapis.com/css?family=Poppins');

  .blur {
    filter: blur(2px);
    height: 210px;
  }

  .img-menu {
    height: 56px;
    width: 60px;
  }

  .yellow {
    color: #000000 !important;
  }

  .banner {
    font-family: 'Poppins', sans-serif;
    padding: 2px;
    text-align: center;
  }

  .card-background-page {
    ion-card:hover {
      cursor: pointer;
    }

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }


  }
}

